// build:js assets/js/bootstrap-grunt-sass-pug-components.min.js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
// endbuild
// build:js assets/js/bootstrap-grunt-sass-pug-app.min.js
script(src='assets/js/app.js')
// endbuild